*{
      margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
#container{
    height: 60px;
    width: 100%;
    background-color: black;
    justify-content: space-evenly;
    display: flex;
     border-radius: 10px;
     align-items: center;


    
}
#container a{
    text-decoration: none;
    color: white;
}
.box1{
  color:white;
}
.box2{
  color: white;
}